@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans';
}

header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 3rem;
    padding: 5px 10px;
    border-radius: 30px;
}

nav a:hover{
    background-color: #000;
}

.slider {
    background-image: url(img/Prueba.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}